.user-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.user-item {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.user-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-title);
}
.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--first-title);
  text-align: center;
  margin-bottom: 10px;
}

.past-user {
  padding: 30px 0;
  background-color: #ffffff;
}

.user-pre-title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}
.user {
  background-color: #f5f4fa;
}
.past-user-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.past-user-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: var(--transition-color), var(--transition-bg);
  &:hover,
  &:focus {
    background-color: var(--btn);
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.past-user-icon {
  fill: currentColor;
}
